/* layout.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* navigation */
html, body {
  background-color: #212121;
  min-height: 100vh;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  text-align: center;
  padding: 1rem 0;
}

header h1 > a {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 5rem;
  padding: .2rem 1rem;
}

header h1 > a > img {
  width: 100%;
  height: auto;
}

/* mainVisual */
.mainVisualWrap img {width: 100%; height: auto;}

.mainVisualWrap .swiper-fade .swiper-slide-active,
.mainVisualWrap .swiper-fade .swiper-slide-active .swiper-slide-active {
  background-color: #212121;
}

.mainVisualWrap .swiper-horizontal>.swiper-pagination-bullets,
.mainVisualWrap .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  left: auto;
  right: 5%;
}

.mainVisualWrap .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.mainVisualWrap .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #fff;
  opacity: .5;
}

.mainVisualWrap .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.mainVisualWrap .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.mainVisualWrap .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 3px;
}

/* 인기있는 영화 목록 */
.movieWrap {
  padding: 3rem 0 10rem 4%;
}
.movieWrap h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.movieCnt {
  border-radius: .9rem 0 0 0;
  overflow: hidden;
}

.movieWrap .movieCnt .swiper-slide img {
  width: 100%;
  height: auto;
}

.movieWrap .movieCnt figure {
  position: relative;
  border-radius: .9rem .9rem 0 0;
  overflow: hidden;
}

.movieWrap .movieCnt figcaption {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  padding: 1rem 5%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9rem;
}

/* ProductItem */
.productItemWrap > div img {
  width: 100%;
  height: auto;
}

.productItemWrap .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.productItemWrap .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #fff;
  opacity: .5;
}

.productItemWrap .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.productItemWrap .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.productItemWrap .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
}

.productItemWrap .infoWrap {
  box-sizing: border-box;
  padding: 10% 5%;
}

.productItemWrap figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productItemWrap .poster {
  width: 30%;
}

.productItemWrap .poster img {
  width: 100%;
  height: auto;
}

.productItemWrap figcaption {
  width: 65%;
}

.productItemWrap figure dl {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: .5em;
}

.productItemWrap figure dl.genre {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: .1em;
}

.productItemWrap figure dl.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.productItemWrap figure dt {
  color: rgba(255,255,255,.7);
  width: 4rem;
}

.productItemWrap figure dd {
  width: calc(100% - (4rem + 5px));
  line-height: 1.2;
  word-break: keep-all;
}

.productItemWrap figure dd span.dday {
  color: red;
  display: inline-block;
  font-size: .8em;
  margin-left: .5em;
  padding: .1em .7em .2em;
  border: 1px solid red;
}

.productItemWrap .subscript {
  margin-top: 2em;
}

.productItemWrap .subscript dt {
  font-size: 1.4rem;
  margin-bottom: .5em;
}

.productItemWrap .subscript dd {
  line-height: 1.3;
  word-break: keep-all;
}

/* Footer */
footer {
  background-color: #333;
  color: rgba(255,255,255, .7);
  font-weight: 300;
  font-size: 0.85714285rem;
  padding: 2em 3em 5em;
}

footer > h4 {
  width: 4.6rem;
  margin-bottom: 1rem;
}

footer > h4 img {
  width: 100%;
  height: auto;
}

footer dl {
  display: flex;
  line-height: 1.3;
}

footer dd {
  padding-left: 5px;
}

footer dd > a {
  text-decoration: underline;
  color: inherit;
}

footer > div > p {
  margin-top: 1rem;
  font-size: .9em;
}

/* btnTop */
.btnTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.8rem;
  z-index: 1000;
  color: #fff;
  padding: .5rem;
  display: none;
}

.btnTop.act {
  display: block;
}